.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.navbar {
  box-sizing: border-box;
  background-color: #0000;
  border-bottom: 1px #000;
  border-left: 1px #000;
  border-right: 1px #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: none;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.navbar._w-nav {
  border-bottom-style: none;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: none;
}

.nav-menu {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex: 0 auto;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: grid;
}

.navbar-link {
  color: #000;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  flex: none;
  width: 100%;
  max-width: 288px;
  padding: 0;
  font-family: DM Mono, sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
}

.section {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: none;
}

.body {
  flex-flow: column;
  align-items: center;
  display: flex;
}

.container {
  border: 1px #000;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1279px;
  margin-left: 0;
  margin-right: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.image {
  width: 288px;
  max-width: none;
}

.container-2 {
  border-top: 1px solid #000;
  border-left: 1px #000;
  border-right: 1px #000;
  width: 100%;
  max-width: 1279px;
}

.quick-stack {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding: 0;
}

.cell-with-image {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Host Grotesk, sans-serif;
  font-size: 60px;
  font-weight: 600;
  line-height: 71px;
}

.cell-with-heading {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  flex-flow: column;
  padding: 126px 100px;
  display: flex;
}

.text-block {
  color: #000;
  margin-bottom: 0;
  font-family: Host Grotesk, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 33px;
}

.text-block.color-grey {
  opacity: .5;
}

.text-block.color-grey.fw-400 {
  font-weight: 400;
}

.text-block.bold {
  font-weight: 600;
}

.text-block.bold.line-height-30 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 30px;
}

.text-block.line-height-30 {
  line-height: 30px;
}

.text-block.fs-18 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 30px;
}

.text-block.fs-18.lh-27 {
  line-height: 27px;
  text-decoration: none;
}

.text-dm-mono-black {
  color: #000;
  font-family: DM Mono, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
}

.text-dm-mono-black.uppercase {
  text-transform: uppercase;
}

.cell {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid #000;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cell-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: flex;
}

.button {
  width: 100%;
  padding: 40px 0;
}

.button.text-dm-mono-black.text-white {
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button.text-dm-mono-black.text-white.bg-orange {
  background-color: #fc5f2b;
}

.button.text-dm-mono-black.text-white.bg-orange.width-50 {
  text-transform: uppercase;
  border-left-style: none;
  border-right: 1px solid #000;
  width: 50%;
}

.button.text-dm-mono-black.width-50 {
  text-transform: uppercase;
  background-color: #fff;
  border-left: 1px #000;
  justify-content: center;
  align-items: center;
  width: 50%;
  display: flex;
}

.button.text-dm-mono-black.button-sm {
  text-transform: uppercase;
  background-color: #0000;
  border: 1px solid #000;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  display: flex;
}

.button.text-dm-mono-black.button-sm.width-300 {
  box-sizing: border-box;
  text-transform: uppercase;
  flex: none;
  width: 300px;
}

.button.text-dm-mono-black.button-sm.mt-10 {
  margin-top: 10px;
}

.button.bg-orange.text-dm-mono-black.text-white {
  text-transform: uppercase;
}

.cell-3 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border-bottom: 1px solid #000;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
}

.cell-3.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cell-3.p-100.border-left {
  border-left: 1px solid #000;
}

.cell-3.p-100.border-left.gap-32.pt-big {
  padding-top: 159px;
}

.cell-3.p-100.gap-32 {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.heading-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.heading3 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Host Grotesk, sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 41px;
  display: block;
}

.heading3.mb-10 {
  margin-bottom: 10px;
}

.heading3.mw {
  flex: 0 auto;
  min-width: 200px;
  max-width: 200px;
}

.text-block-2 {
  opacity: .5;
  color: #000;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0;
  font-family: DM Mono, sans-serif;
  font-size: 18px;
  line-height: 27px;
}

.text-block-2.color-black {
  opacity: 1;
}

.text-block-2.color-black.text-align-center {
  text-align: center;
}

.text-block-2.color-black.number-block {
  opacity: .1;
  background-color: #b4b4b4;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  display: flex;
}

.text-block-2.color-black.z-index {
  z-index: 2;
  position: relative;
}

.text-block-2.badge {
  margin-bottom: 40px;
}

.quick-stack-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  height: 100%;
  padding: 0;
  display: grid;
}

.quick-stack-2.parent-grid {
  grid-auto-columns: minmax(200px, 1fr);
}

.quick-stack-2.grid-logos {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-columns: minmax(180px, 1fr);
}

.cell-4 {
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  justify-content: center;
  align-items: center;
  max-width: none;
  padding: 10px;
  font-size: 0;
  line-height: 0;
  display: flex;
}

.cell-4.no-right-border-desktop {
  border-right-style: none;
}

.cell-5 {
  border-left: 1px solid #000;
}

.cell-6 {
  border-bottom: 1px solid #000;
  justify-content: center;
  align-items: center;
  padding: 40px 180px;
  display: block;
}

.body-2 {
  flex-flow: column;
  display: flex;
}

.cell-7 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  border-bottom: 1px solid #000;
  flex-flow: column;
  padding: 60px 100px;
  display: flex;
}

.cell-7.p-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.cell-7.p-100.gap-30 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.cell-7.p-80 {
  flex-flow: column;
  padding-top: 80px;
  padding-bottom: 85px;
  display: flex;
}

.div-block {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: flex-start;
  width: 100%;
  display: flex;
}

.div-block.jc-space-btw {
  justify-content: space-between;
}

.div-block-2 {
  opacity: 1;
  background-color: #b4b4b41a;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  display: flex;
}

.div-block-2.size-big {
  background-color: #0000;
  border-radius: 0;
  width: 100%;
  height: auto;
}

.div-block-3 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: column;
  width: 235px;
  display: flex;
}

.div-block-3.gap-30 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.div-block-3.gap-30.width-33 {
  width: 33%;
}

.div-block-4 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.div-block-4.width-100 {
  width: 100%;
}

.cell-8 {
  border-bottom: 1px solid #000;
}

.cell-9 {
  border-bottom: 1px #000;
}

.cell-10 {
  outline-offset: 0px;
  outline: 3px solid #333;
}

.cell-11 {
  border-bottom: 1px solid #000;
}

.div-block-5 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-flow: column;
  display: flex;
}

.div-block-6 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.div-block-7 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.div-block-8 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.cell-12 {
  grid-column-gap: 0px;
  grid-row-gap: 16px;
  border-bottom: 1px solid #000;
  grid-template-rows: 1fr;
  grid-template-columns: 210px 330px 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-9 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  border-right: 1px solid #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.div-block-9.p-65 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.text-block-3 {
  color: #000;
  font-family: Host Grotesk, sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 80px;
}

.link-block {
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  display: flex;
}

.link-block.border-right {
  border-right: 1px solid #000;
}

.div-block-10 {
  width: 100%;
  min-height: 200px;
}

.div-block-10.footer-spacer {
  height: 100px;
  min-height: auto;
}

.dropdown {
  justify-content: space-between;
  width: 100%;
  display: block;
}

.dropdown-toggle {
  width: 100%;
  padding: 0;
}

.dropdown-list {
  background-color: #fff;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;
  padding-bottom: 70px;
  display: none;
  position: static;
}

.cell-14 {
  padding-top: 60px;
  padding-left: 100px;
}

.cell-15 {
  border-bottom: 1px solid #000;
  padding: 40px 100px;
}

.div-block-11 {
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 70px;
  display: grid;
}

.div-block-11.dropdown-content {
  grid-column-gap: 100px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 40px;
  padding-bottom: 70px;
  display: grid;
}

.div-block-12 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.div-block-13 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.image-3 {
  display: none;
}

.div-block-14 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-auto-columns: minmax(600px, 1fr);
  width: 100%;
  display: grid;
}

.image-4, .image-5 {
  display: none;
}

.image-6 {
  border-radius: 10px;
}

.dropdown-trigger {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: auto;
  display: flex;
}

.icon {
  margin-top: 0;
  margin-bottom: 0;
  position: static;
}

@media screen and (min-width: 1280px) {
  .container-2 {
    border-left-style: none;
    border-right-style: none;
  }

  .grid {
    grid-auto-columns: 1fr;
  }
}

@media screen and (min-width: 1920px) {
  .navbar {
    justify-content: center;
    align-items: center;
    max-width: 1442px;
    display: flex;
  }

  .navbar-link {
    box-sizing: border-box;
    text-align: center;
    flex: 0 auto;
    display: block;
  }

  .body {
    color: #fff;
    flex-flow: column;
    align-items: stretch;
    min-width: 0%;
    max-width: 1442px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .container {
    flex-flow: column;
    width: 1440px;
    max-width: none;
    display: flex;
  }

  .image {
    width: 288px;
  }

  .container-2 {
    max-width: 1442px;
  }

  .div-block-10 {
    width: 100%;
    min-height: 200px;
  }

  .div-block-10.footer-spacer {
    height: 100px;
    min-height: 0;
  }

  .cell-13 {
    justify-content: flex-end;
    align-items: stretch;
    display: flex;
  }
}

@media screen and (max-width: 991px) {
  .navbar {
    border-left-style: none;
    border-right-style: none;
    justify-content: space-between;
    width: 100%;
    max-width: none;
  }

  .navbar._w-nav, .nav-menu {
    display: none;
  }

  .container {
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    display: flex;
  }

  .image-2 {
    display: block;
  }

  .container-2 {
    border: 1px #000;
    border-top-style: solid;
  }

  .cell-with-image {
    display: none;
  }

  .cell-with-heading {
    border-left-style: none;
    flex-flow: column;
    width: 100%;
    padding: 120px 40px;
    display: flex;
  }

  .cell {
    width: 100%;
    padding: 37px 40px;
  }

  .cell-2 {
    width: 100%;
  }

  .button.text-dm-mono-black.text-white.bg-orange.width-50 {
    border-left-style: none;
  }

  .cell-3.p-100 {
    border-bottom-style: none;
    width: 100%;
    padding: 60px 40px;
  }

  .cell-3.p-100.border-left.gap-32 {
    border-left-style: none;
  }

  .text-block-2.color-black.z-index {
    margin-bottom: 0;
  }

  .text-block-2.badge {
    margin-bottom: 40px;
  }

  .quick-stack-2.responsive-grid {
    border-top: 1px solid #000;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-columns: minmax(180px, 1fr);
  }

  .quick-stack-2.grid-logos {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-auto-columns: minmax(180px, 1fr);
  }

  .cell-4 {
    box-sizing: border-box;
  }

  .cell-4.no-right-border-desktop {
    border-right-style: solid;
  }

  .cell-4.no-right-border-desktop.spacer, .cell-4.spacer {
    display: none;
  }

  .cell-5 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .cell-5.slider-wrapper {
    border-top: 1px solid #000;
    border-left-style: none;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .cell-6, .cell-7 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block {
    flex-flow: column;
  }

  .div-block.jc-space-btw {
    justify-content: space-between;
    align-items: flex-start;
  }

  .div-block-2.size-big {
    aspect-ratio: 2 / 3;
    width: 100%;
    max-width: 530px;
    height: auto;
    max-height: 517px;
  }

  .div-block-3 {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .div-block-3.gap-30.width-33, .cell-11 {
    width: 100%;
  }

  .div-block-7 {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .div-block-8 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
  }

  .cell-12 {
    grid-row-gap: 0px;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    width: 100%;
  }

  .div-block-9 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-top: 1px solid #000;
    border-right-style: none;
    padding-top: 56px;
    padding-bottom: 20px;
  }

  .div-block-9.p-65 {
    display: none;
  }

  .link-block.border-right {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .div-block-10.footer-spacer {
    height: 100px;
    min-height: auto;
  }

  .cell-13 {
    display: none;
  }

  .cell-14 {
    width: 100%;
    padding-top: 40px;
    padding-left: 40px;
  }

  .cell-15 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-11 {
    grid-column-gap: 0px;
    grid-row-gap: 40px;
    flex-flow: column-reverse wrap;
    grid-template-columns: 1fr;
    display: flex;
  }

  .image-3 {
    flex: none;
    width: 177px;
    height: 35px;
    display: block;
    overflow: hidden;
  }

  .grid {
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    justify-content: stretch;
    place-items: start;
    width: 100%;
  }

  .grid.grid-container {
    flex-flow: column;
    grid-template-rows: auto;
    display: flex;
  }

  .image-4 {
    width: 177px;
    max-width: none;
    height: 35px;
    display: block;
  }

  .image-5 {
    max-width: none;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .cell-with-heading, .cell {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cell-2 {
    border-left-style: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  .button.text-dm-mono-black.text-white.bg-orange.width-50 {
    border-bottom: 1px solid #000;
    border-right-style: none;
    width: 100%;
    min-width: 100px;
  }

  .cell-3.p-100 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .heading3.wrap {
    white-space: normal;
    word-break: normal;
    margin-right: 15px;
  }

  .cell-6, .cell-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-2 {
    flex: none;
  }

  .cell-14 {
    padding-left: 20px;
  }

  .cell-15 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .button.text-dm-mono-black.button-sm.width-300 {
    width: 100%;
    max-width: 300px;
  }

  .button.bg-orange.text-dm-mono-black.text-white {
    white-space: normal;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }

  .heading3 {
    white-space: normal;
  }
}

#w-node-_38b793d2-d3b8-da59-a5e0-b746963b97dd-7d7d7ceb, #w-node-c58bc0a1-7302-ea7d-c52b-abbacc065696-7d7d7ceb, #w-node-ae5dffa6-386c-4832-edf1-df96e2d402f0-7d7d7ceb, #w-node-dfbb01d7-a210-7b08-6709-f50d3cea4ab0-7d7d7ceb, #w-node-e116bd58-c41d-1190-69e2-71f78883786e-7d7d7ceb, #w-node-fdf54512-eb26-9c73-290e-319bba9d008c-7d7d7ceb, #w-node-_0c3f873b-dca2-0d65-2180-4b1ee962a458-7d7d7ceb, #w-node-_57606f3b-7247-164b-1b6c-759d8fc75aaf-7d7d7ceb, #assurance.w-node-_5b9125a5-a461-6b2d-74f4-d85e8dec3c75-7d7d7ceb, #w-node-_802f6366-ef5a-68ac-b8b3-fbf218bdc319-7d7d7ceb, #w-node-cbdc1eab-4ea6-2c5d-1672-9f29093686f3-7d7d7ceb, #w-node-_2bfbe69f-29fc-082c-d990-fee65d386055-7d7d7ceb, #w-node-_3b8fd27c-5949-f781-4363-f49f4e0e6245-7d7d7ceb {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

@media screen and (min-width: 1920px) {
  #w-node-e116bd58-c41d-1190-69e2-71f78883786e-7d7d7ceb {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 991px) {
  #w-node-_38b793d2-d3b8-da59-a5e0-b746963b97dd-7d7d7ceb {
    grid-column: span 1 / span 1;
  }

  #w-node-c58bc0a1-7302-ea7d-c52b-abbacc065696-7d7d7ceb, #w-node-ae5dffa6-386c-4832-edf1-df96e2d402f0-7d7d7ceb, #w-node-dfbb01d7-a210-7b08-6709-f50d3cea4ab0-7d7d7ceb, #w-node-e116bd58-c41d-1190-69e2-71f78883786e-7d7d7ceb, #w-node-fdf54512-eb26-9c73-290e-319bba9d008c-7d7d7ceb, #w-node-_0c3f873b-dca2-0d65-2180-4b1ee962a458-7d7d7ceb, #w-node-_57606f3b-7247-164b-1b6c-759d8fc75aaf-7d7d7ceb, #w-node-_802f6366-ef5a-68ac-b8b3-fbf218bdc319-7d7d7ceb, #w-node-cbdc1eab-4ea6-2c5d-1672-9f29093686f3-7d7d7ceb, #w-node-_2bfbe69f-29fc-082c-d990-fee65d386055-7d7d7ceb {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_00521c0b-191c-0b7e-7e6b-68ec8ca82887-7d7d7ceb {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-_3b8fd27c-5949-f781-4363-f49f4e0e6245-7d7d7ceb {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


